/*Old - /src/css/homework.css*/
@media screen and (orientation: portrait) {

    div.contentHolder{
        --direction: column;
    }

    div.content{
        margin: 5% auto;
        --content-width: calc(90% - 1px + 1px);
        --content-height: calc(var(--content-width) + 1px - 1px);
    }

}

@media screen and (orientation: landscape) {

    html, body{
      height: 100%;
    }

    div.contentHolder{
        --direction: row;
    }

    div.content{
        margin: auto 0;
        --content-height: 90%;
        --content-width: calc(var(--content-height) / var(--content-count));
    }

}

@media screen and (min-width: 300px){

    body{
        --header-height: 50px;
        font-size: 7px;
    }

    table{
        font-size: 2em;
    }

    footer{
        height: 30px;
    }

    a.navigation{
        line-height: 30px;
    }

}

@media screen and (min-width: 1000px){

    body{
        --header-height: 100px;
        font-size: 12px;
    }

    footer{
        height: 50px;
    }

    a.navigation{
        line-height: 50px;
    }

}

.no-display{
    display: none;
}

.flex-display{
    display: flex;
    display: -webkit-flex;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    --content-count: 2;
}

body{
    background-color: #333333;
    font-family: "Segoe UI Light", Helvetica, Arial, sans-serif;
}

header{
    width: 100%;
    height: var(--header-height);
    background-color: #003399;
    color: white;
}

h1{
    font-size: 4em;
    line-height: var(--header-height);
    padding-left: calc(0.3 * var(--header-height));
}

div h1{
    font-size: 3em;
}

div.contentHolder{
    width: 100%;
    height: calc(100% - var(--header-height));
    flex-flow: var(--direction);
    -webkit-flex-flow: var(--direction);
    align-items: center;
    justify-content: space-evenly;
}

div.content{
    height: var(--content-height);
    width: var(--content-width);
    background-color: white;
    scroll-behavior: smooth;
}

div.contentHeader{
    height: var(--header-height);
    width: 100%;
    background-color: #7093ff;
    color: black;
}

div#loading{
    height: calc(100% - var(--header-height));
    width: 100%;
}

svg.lds-rolling{
    margin: auto;
}

table.contentFill{
    margin: calc(0.3 * var(--header-height)) auto;
    text-align: left;
    border-collapse: collapse;
    width: calc(100% - 0.6 * var(--header-height));
    height: calc(100% - 1.6 * var(--header-height));
}

th, td{
    border: 1px solid black;
    padding: 0 5px;
}

th:last-child, td:last-child{
    border-right: none;
    width: 50%;
}

th:first-child, td:first-child{
    border-left: none;
    width: 50%;
}

th{
    border-top: none;
}

tr:last-of-type td{
    border-bottom: none;
}

/*New - /test/index.css*/
header h1{
    display: inline-block;
}

a#menu{
    float: right;
}

footer{
    position: fixed;
    background-color: #21252b;
    opacity: 0.8;
    bottom: 0;
    width: 100%;
}

a.navigation{
    flex: 1;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
}

a.navigation:focus{
    outline: none;
    background-color: #003399;
}

a.navigation:first-child{
    border-right: 0.5px solid black;
}

a.navigation:last-child{
    border-left: 0.5px solid black;
}

p.error{
    font-size: 1.5em;
    color: red;
    text-align: center;
    position: relative;
    top: calc((100% - var(--header-height) - 1.5em) / 2);
}

input[type="text"] {
    width: calc(100% + 5px);
    height: 100%;
    position: relative;
    left: -5px;
    top: -2px;
}
